<div class="pure-control-group">
   <label for="make">Make</label>
   <input id="make" ng-model="ad.auto_make"  type="text">
</div>
<div class="pure-control-group">
   <label for="model">Model</label>
   <input id="model" ng-model="ad.auto_model"  type="text">
</div>
<div class="pure-control-group">
   <label for="year">Year</label>
   <input id="year" ng-model="ad.auto_year"  type="text">
</div>
<div class="pure-control-group">
   <label for="mile">Mileage</label>
   <input id="mile" ng-model="ad.auto_total_mile"  type="text"><span class="add-on" style="font-size: 10px;color: grey;font-style:italic;"> km</span>
</div>
